//VAR
container_width = 1460px

// GENERAL
*
    margin 0
    padding 0
    box-sizing border-box
    outline none

body
    font-family 'montserrat', sans-serif;
    font-size 16px
    background #202123
a
    text-decoration none

// HEADER
.header
    position sticky
    position -webkit-sticky
    top 0
    width 100%
    background-color rgba(32, 33, 35, 0.8)
    backdrop-filter: blur(12px);
    color #fff
    z-index 10
    a
        color #fff

    .container
        max-width container_width
        padding 20px 16px
        margin 0 auto

        display flex
        justify-content space-between
        align-items center
    .logo
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
        user-select none
    .navbar
        display: flex;
        gap: 20px;
        align-items: center;

    @media screen and (max-width: 460px)
        .container
            flex-direction: column;
            gap: 10px;
            align-items: baseline;
        
// MAIN
main
    max-width container_width
    padding 0 16px
    margin 0 auto
    a
        color #fff

    .container
        display flex
        justify-content center
        align-items center
        width 100%

    .links
        display flex
        flex-wrap: wrap;
        gap 26px
    ul
        list-style none
    li
        padding 4px 0
        &.title
            font-size 1.4rem
        &:not(.title)
            opacity .7
            &:hover
                opacity 1

// PAGES
.devs
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
    gap 15px
    padding 0 16px
    max-width: 1460px;
    margin 0 auto
    
section
    position relative
    width 100%

    img
        width: 100%;
        border-radius: 12px;

    .link
        width: fit-content;
        display: block;
        padding: 8px
        font-size: 18px;
        color: #fff;
        opacity .7
        &:hover
            opacity 1
