@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Calypso";
  src: url("../fonts/Calypso.ttf") format("truetype");
  font-style: normal;
}
